*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;
}

.container-grid{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 
    "macbook notebook people people people"
    "macbook notebook people people people"
    "post post people people people"
    "post post people people people"
    "women women student student student"
    "women women student student student";
    gap: 5px;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-1{
    grid-area: macbook;
}

.img-2{
    grid-area: notebook;
}

.img-3{
    grid-area: people;
}

.img-4{
    grid-area: post;
}

.img-5{
    grid-area: student;
}

.img-6{
    grid-area: women;
}

.img:hover{
    filter: grayscale(50%);
    cursor: pointer;
    transition: filter .4s;
}

.container-img{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(3, 3, 3, 0.705);
    display:flex;
    justify-content: center;
    align-items: center;
}

.img-show{
    height: 80%;
    display: block;
    object-fit: cover;
}

.copy{
    position: fixed;
    color: #FFF;
    bottom: 40px;
}

.bx.bx-x{
    position: absolute;
    color: #FFF;
    top:20px;
    right: 20px;
    font-size: 40px;
}

.bx.bx-x:hover{
    color: #ccc;
    cursor: pointer;
}